---
import '../styles/index.css'
import NavBarComponent from '../components/NavBarComponent'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Paolo Cesar Charca Mamani</title>
		<link rel="stylesheet">
	</head>
	<body>
		<NavBarComponent/>
		<h1 style="color: var(--green-200);">Paolo Charca M.</h1>
		
	</body>
</html>
